<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ article.title }}
            <small>
                {{ article.createdAt|date('M-j-y g:ia') }}
            </small>
        </h4>
    </div>
    <div class="panel-body">
        {{ article.content|raw }}
    </div>
    <div class="panel-footer">
        <a href="{{ path('article', {'slug': article.slug}) }}">
            <i class="fa fa-link"></i>
        </a>
        {% if article.tags is defined and article.tags|length > 0 %}
            {% for tag in article.tags %}
                <a class="label label-default" href="{{ path('articles_by_tag', {name: tag.name} ) }}">
                        <span class="fa fa-tag"></span>
                        {{ tag.name }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
