
<div class="panel-heading text-center">
    <h1>
        {{ article.title }}
        <br />
        <small>
            {{ article.createdAt|date('M jS, Y', 'America/New_York') }}
        </small>
    </h1>
</div>

<p class="text-center">
    {% if article.tags is defined and article.tags|length > 0 %}
        {% for tag in article.tags %}
            <a href="{{ path('articles_by_tag', {name: tag.name} ) }}">#{{ tag.name }}</a>&nbsp;
        {% endfor %}
    {% endif %}

    <a href="{{ path('article', {'slug': article.slug}) }}">
        <i class="fa fa-link"></i>
    </a>
</p>

<hr />

<p>
    {{ article.content|raw }}
</p>

<p>&nbsp;</p>

<hr />
