{% extends 'MainBundle::base_notrack.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    {% if app.debug %}
        <link href="{{ asset('css/summernote.css') }}" type="text/css" rel="stylesheet" />
    {% else %}
        {% stylesheets
            'css/summernote.css'
         %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.debug %}
        <script type="text/javascript" src="{{ asset('js/summernote.min.js') }}"></script>
    {% else %}
        {% javascripts
            'js/summernote.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block content -%}
    <h1>Article creation</h1>

    {% include 'AdminBundle:Article:form.html.twig' with {form: form} %}

    <ul class="record_actions pager">
        <li class="previous">
            <a href="{{ path('articles') }}">&larr; Back to the list</a>
        </li>
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            var submitted = false;
            var code = null;
            var srcCodeSelector = '.note-editable';
            var destCodeSelector = '#article_content';

            // Handle form submission
            $('form').on('submit', function (e) {
                if (!submitted) {
                    e.preventDefault();

                    var codeSrc = $(srcCodeSelector);
                    var codeDest = $(destCodeSelector);

                    var code = codeSrc.code();
                    codeDest.val(code);

                    submitted = true;

                    $('form').trigger('submit');
                }
            });

            // Setup Summernote
            $('textarea').summernote({
                height: 300
            });
        });

    </script>

{% endblock %}
