<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Ryan Catlin{% endblock %}</title>

        {% block stylesheets %}
            {% if app.debug %}
                <link href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('assets/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('assets/css/main.css') }}" text="text/css" rel="stylesheet" />
            {% else %}
                {% stylesheets 
                    'assets/css/bootstrap.min.css'
                    'assets/css/bootstrap-theme.min.css'
                    'assets/css/font-awesome.min.css'
                    'assets/css/main.css'
                    filter='cssrewrite'
                    output="css/compiled/all.css"
                 %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {% if app.debug %}
                <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/ready.min.js') }}"></script>
            {% else %}
                {% javascripts
                    'assets/js/jquery.min.js'
                    'assets/js/bootstrap.min.js'
                    'assets/js/ready.min.js'
                    output="js/compiled/all.js"
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}

    </head>
    <body>
        
        {% include 'MainBundle::menu.html.twig' %}
        
        <div class="jumbotron">
            <div class="container">
                <p>&nbsp;</p>
                <h2>Ryan Catlin</h2>
                <p>code and shark enthusiast</p>
            </div>
        </div>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        {% block google_analytics %}
            {% include 'MainBundle::google_analytics.html.twig' %}
        {% endblock %}

        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
<html>
