{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">ryancatlin.info</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {% if route == 'index' %}
                    <li class="active">
                        <a href="#">Main</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('index') }}">Main</a>
                    </li>
                {% endif %}


                {% if route == 'about' %}
                    <li class="active">
                        <a href="#">About</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('about') }}">About</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hello, {{ app.user.username }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('articles') }}">Articles</a>
                            </li>
                            <li>
                                <a href="{{ path('article_new') }}">New Article</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
